# NetBeans
nbproject/private/
nbproject/private/private.properties
nbproject/private/configs/BostonApartments.properties
nbproject/private/private.xml

**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# macOS
.DS_Store
.AppleDouble
.LSOverride
