<!--
BODY
DIV 

.descviewad {
width: 425px;
height: 250px;
overflow: auto;
}

.splashtext { font-family: Verdana; font-size: 10px}
.contenttext { font-family: Verdana; font-size: 10px }
.contenttext:first-letter { font-size:105%; }
.contentnav { font-family: Verdana; font-size: 9px; font-color: light-grey }
.menu { font-family: Verdana; font-size:12px; text-decoration: none  }
.controltext {font-family:monospace; font-size:20px; text-decoration: none }
.controltextimp {font-family:monospace; font-size:14px; text-decoration:underline }
.topic { font-family: Verdana; font-size:14px; text-decoration:none;   }
.ad { font-family: Verdana; font-size: 10px;}
.conArea {background-color:#FFFF99; border:1px solid #000000; border-bottom:0px solid black; padding:5;}
.conAreaBottom {background-color:#FFFF99; border:1px solid #000000; padding:5;}
.conRow {:first-line {font-family: Verdana; font-size: 14px; text-align:left; text-decoration: underline;} font-family: Verdana; font-size: 14px; text-decoration: none; background-color:#FFFF99}
.conCell { font-family: Verdana; font-size: 12px; text-decoration: none; background-color:#FFFF99;}
SPAN
.conCell2 { font-family: Verdana; font-size: 14px; text-decoration: none; background-color:#FFFF99;}
.conCell { font-family: Verdana; font-size: 12px; text-decoration: none; background-color:#FFFF99;}
.whiteTabFirst {padding:10px; text-align:left; font-weight:bold;cursor:hand;}
.whiteTab {padding:10px; text-align:left; font-weight:bold;border-left-width:1px;border-left-style:solid;border-left-color:black;cursor:hand;}
.yellowTab {padding:10px; text-align:left;font-weight:bold; border-left-width:1px;border-left-style:solid;border-left-color:black;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:black;background-color:#EEE8AA;cursor:hand;}
.yellowTabFirst {padding:10px; text-align:left;font-weight:bold;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:black;background-color:#EEE8AA;cursor:hand;}
A:link {text-decoration: none; color: black}
A:visited { text-decoration: none; color: black}
A:hover   {text-decoration: underline; color: grey}
TD
.controltext {font-family:monospace; font-size:15px; text-decoration: none }
.ad { font-family: Verdana; font-size: 10px}

.descviewad {
width: 425px;
height: 250px;
overflow: auto;
}

.finditad {
width: 200px;
height: 12px;
overflow: auto;
font-family: Verdana;
font-size: 8px;
}




/***** Navigation *****/

#navigation
{
	background:#99CCFF;
	color:#fff;

	height:15px;
	line-height:2em;
}

* html #navigation a {width:1%;}

#navigation .selected,#navigation a:hover
{
	background:#D2D1D9;
	color:#333;
	text-transform:uppercase;
	text-decoration:none;

}

#navigation2 .selected,#navigation a:hover
{
	background:#CCFFFF;
	color:#333;
	text-transform:uppercase;
	text-decoration:none;
}


#cell-design {
  font-family: Arial, Helvetica, sans-serif !important;
  border-collapse: collapse;
  width: 100%;
  border-radius: 30px;
  border-collapse: separate;
  border-spacing: 0 1em;
  font-size: 20px !important;
}

#cell-design td, #cell-design th {
  padding: 8px;
}

#cell-design { border-collapse: separate; }
#cell-design td:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
#cell-design td:last-child { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
/*#cell-design tr:first-child td:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }*/
/*#cell-design tr:first-child td:last-child { border-top-right-radius: 10px; }*/
/*#cell-design tr:last-child td:first-child { border-bottom-left-radius: 10px; }*/
/*#cell-design tr:last-child td:last-child { border-bottom-right-radius: 10px; }*/

#cell-design tr:nth-child(odd){
	background-color: #75B9FF;
	}
#cell-design tr:nth-child(even){
	background-color: #FFFFFF;
	}	

#cell-design tr:hover {background-color: #FFFF99;}

#cell-design th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: red;
  color: red;
}

.full-width{
	width: 90%;
}

.med-font {
	font-size: 16px !important;
}

.med-shadow{
	box-shadow: 1px 1px 8px 1px;
}

.normal-tbl-font td {
	font-size: 18px !important;
}

.tbl-td-hover td:hover:nth-child(odd){
	background-color: #FFFFFF !important;
	transition: 0.5s;
}
